.label{
	font-family: 'Tw Cen MT';
	font-style: normal;
	font-weight: 400;
	color: white ;
	color: white;
	text-decoration: none;
	font-size: 15px;
}

.niner{
	font-family: 'Tw Cen MT';
	font-style: bold;
	font-weight: 400;
	color: white ;
	color: white;
	text-decoration: none;
	font-size: 60px;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
	background: #00703C ;
	font-family: "Lato" ;
}
.wrap {
	width:350px;
	height: auto;
	margin: auto;
	margin-top: 10%;
}
.avatar {
	width: 100%;
	margin: auto;
	width: 65px;
	border-radius: 100px;
	height: 65px;
	background: #00703C ;
	position: relative;
	bottom: -15px;
}
.avatar img {
	width: 55px;
	height: 55px;
	border-radius: 100px;
	margin: auto;
	border:3px solid #fff;
	display: block;
}
.wrap input {
	border: none;
	background: #fff;
  font-family:Lato ;
  font-weight:700 ;
	display: block;
	height: 40px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
}
.bar {
	width: 100%;
	height: 1px;
	background: #fff ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #d1d1d1;
}
.wrap input[type="text"] {
	border-radius: 0px 0px 0px 0px ;
}

.wrap input[type="password"] {
	border-radius: 0px 0px 0px 0px ;
}

.wrap input[class="password1"] {
	border-radius: 0px 0px 0px 0px ;
}

.wrap input[type="date"] {
	border-radius: 0px 0px 0px 0px ;
}

.forgot_link {
	color: #00703C ;
	color: #00703C;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	left: 300px;
	top: -36px;
}
.wrap button {
	width: 100%;
	border-radius: 7px;
	background: silver;
	text-decoration: center;
	border: none;
	color: black;
	font-weight: bold;
    margin-top:-5px;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 14px;	
	border-bottom: 3px solid #307d63;
	cursor: pointer;
}